Hackathon 2023/hackathonVisualizationFlow2.json
[
    {
        "id": "139be3927a5a98ed",
        "type": "tab",
        "label": "Hackathon Visualization of Performance Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "140ca411be96a4dc",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "66bd89e6c9441a1f"
            ]
        ]
    },
    {
        "id": "66bd89e6c9441a1f",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/loadgen-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "bca7468fb81747da",
                "7635ee8c9a4e0769"
            ]
        ]
    },
    {
        "id": "bca7468fb81747da",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "7635ee8c9a4e0769",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Extract activationid",
        "func": "var data = msg.payload;\nvar newjson = [];\n\nnewjson.push({\"cpu\": \"cpu\"});\nnewjson.push({\"memory\": \"memory\"});\nnewjson.push({\"networkReceived\": \"networkReceived\"});\nnewjson.push({\"networkTransmitted\": \"networkTransmitted\"});\nnewjson.push({\"fsReads\": \"fsReads\"});\nnewjson.push({ \"fsWrites\": \"fsWrites\" });\n\nfor (var atr of data) {\n    var newobj = {};\n    newobj[atr[\"activationid\"]] = atr[\"activationid\"];\n    newjson.push(newobj)\n}\nmsg.options = newjson;\nmsg.topic = \"data\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "a4b9e40227b13338",
                "92dc646d6fb79020"
            ]
        ]
    },
    {
        "id": "a4b9e40227b13338",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "92dc646d6fb79020",
        "type": "ui_dropdown",
        "z": "139be3927a5a98ed",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "b02f8cff8e770c31",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "8a6f992d571f1d39",
                "cf6804db5d97bbc3"
            ]
        ]
    },
    {
        "id": "8a6f992d571f1d39",
        "type": "change",
        "z": "139be3927a5a98ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.payload[]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "68a1274f8183e772",
                "64dfe8550d53a5d7"
            ]
        ]
    },
    {
        "id": "a6c37b83428f9da1",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "99a25f43290c34a9"
            ]
        ]
    },
    {
        "id": "99a25f43290c34a9",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/profile-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "ad2d11dc1d74d011",
                "b307f578fe1f70df"
            ]
        ]
    },
    {
        "id": "ad2d11dc1d74d011",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "729bc777f4c8bc42",
        "type": "ui_chart",
        "z": "139be3927a5a98ed",
        "name": "",
        "group": "0cad8e5064af894d",
        "order": 1,
        "width": "9",
        "height": "6",
        "label": "Profile Data Visualization",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b307f578fe1f70df",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Extract data & convert low: 1, high: 2",
        "func": "var data = msg.payload;\nvar cpu = data[0].cpu === 'low' ? 1 : 2;\nvar memory = data[0].memory === 'low' ? 1 : 2;\nvar networkReceived = data[0].networkreceived === 'low' ? 1 : 2;\nvar networkTransmitted = data[0].networktransmitted === 'low' ? 1 : 2;\nvar fsWrites = data[0].fswrites === 'low' ? 1 : 2;\nvar fsReads = data[0].fsreads === 'low' ? 1 : 2;\n\nmsg.newdata = {\n    \"CPU\": cpu,\n    \"Memory\": memory,\n    \"Network Received\": networkReceived,\n    \"Network Transmitted\": networkTransmitted,\n    \"fs Writes\": fsWrites,\n    \"fs Reads\": fsReads\n};\nmsg.profile = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 520,
        "wires": [
            [
                "e70be03bdcf39538",
                "1962b71e212d975d"
            ]
        ]
    },
    {
        "id": "e70be03bdcf39538",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "1962b71e212d975d",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Create bar chart data",
        "func": "var labels = [];\nvar data = [];\n\nlabels = Object.keys(msg.newdata);\ndata = Object.values(msg.newdata);\n\nmsg.payload = [{\n    \"series\": [\"\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "5f84a0bec16c5bc7",
                "729bc777f4c8bc42",
                "86b7befe50a69837"
            ]
        ]
    },
    {
        "id": "5f84a0bec16c5bc7",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "3485790c3e9fbdc7",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "3c65fb109b799176"
            ]
        ]
    },
    {
        "id": "3c65fb109b799176",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/prometheus-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "55f8f677ce35d923"
            ]
        ]
    },
    {
        "id": "55f8f677ce35d923",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480.1041717529297,
        "y": 675.1111450195312,
        "wires": []
    },
    {
        "id": "68a1274f8183e772",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "cf6804db5d97bbc3",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "64dfe8550d53a5d7",
        "type": "ui_chart",
        "z": "139be3927a5a98ed",
        "name": "",
        "group": "b02f8cff8e770c31",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Not Prometheus",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "0a9b90eb646033f1"
            ]
        ]
    },
    {
        "id": "0a9b90eb646033f1",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 140,
        "wires": []
    },
    {
        "id": "86b7befe50a69837",
        "type": "ui_template",
        "z": "139be3927a5a98ed",
        "group": "aac210c709ba7797",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p><b>Action</b>: {{msg.profile.actionname}}</p>\n<p><b>Branch Name</b>: {{msg.profile.branchname}}</p>\n<p><b>Flow</b>: {{msg.profile.flow}}</p>\n<p><b>Location</b>: {{msg.profile.location}}</p>\n<br>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c297573df9e25c37",
        "type": "comment",
        "z": "139be3927a5a98ed",
        "name": "PROFILE-DATA",
        "info": "",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "fbfcd1a643709d22",
        "type": "comment",
        "z": "139be3927a5a98ed",
        "name": "LOADGEN",
        "info": "",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "faf09e12a6e5b421",
        "type": "comment",
        "z": "139be3927a5a98ed",
        "name": "PROMETHEUS",
        "info": "",
        "x": 120.10417175292969,
        "y": 695.1111450195312,
        "wires": []
    },
    {
        "id": "b02f8cff8e770c31",
        "type": "ui_group",
        "name": "ID Selection",
        "tab": "d315769c5ea188b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cad8e5064af894d",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "c1fc8b045485cd49",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aac210c709ba7797",
        "type": "ui_group",
        "name": "Profile Info",
        "tab": "c1fc8b045485cd49",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d315769c5ea188b3",
        "type": "ui_tab",
        "name": "LoadGen Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c1fc8b045485cd49",
        "type": "ui_tab",
        "name": "Profile-Data Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]