Hackathon 2023/hackathonVisualizationFlow.json
[
    {
        "id": "139be3927a5a98ed",
        "type": "tab",
        "label": "Hackathon Visualization of Performance Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "140ca411be96a4dc",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "66bd89e6c9441a1f"
            ]
        ]
    },
    {
        "id": "66bd89e6c9441a1f",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/loadgen-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "bca7468fb81747da",
                "7635ee8c9a4e0769"
            ]
        ]
    },
    {
        "id": "bca7468fb81747da",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "7635ee8c9a4e0769",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Extract activationid",
        "func": "var activationIds = []; // Initialize an empty array to store activation IDs\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    var activationId = msg.payload[i].activationid; // Retrieve the activation ID for each object\n    activationIds.push(activationId); // Add the activation ID to the array\n}\n\nmsg.payload = activationIds; // Assign the array of activation IDs to the payload\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "a4b9e40227b13338",
                "92dc646d6fb79020"
            ]
        ]
    },
    {
        "id": "a4b9e40227b13338",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "92dc646d6fb79020",
        "type": "ui_dropdown",
        "z": "139be3927a5a98ed",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "b02f8cff8e770c31",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "8a6f992d571f1d39"
            ]
        ]
    },
    {
        "id": "8a6f992d571f1d39",
        "type": "change",
        "z": "139be3927a5a98ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.payload[]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a6c37b83428f9da1",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "99a25f43290c34a9"
            ]
        ]
    },
    {
        "id": "99a25f43290c34a9",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/profile-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 620,
        "wires": [
            [
                "ad2d11dc1d74d011",
                "b307f578fe1f70df"
            ]
        ]
    },
    {
        "id": "ad2d11dc1d74d011",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "729bc777f4c8bc42",
        "type": "ui_chart",
        "z": "139be3927a5a98ed",
        "name": "",
        "group": "0cad8e5064af894d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b307f578fe1f70df",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Extract data",
        "func": "var cpu = msg.payload[0].cpu;\nvar memory = msg.payload[0].memory;\nvar networkReceived = msg.payload[0].networkreceived;\nvar networkTransmitted = msg.payload[0].networktransmitted;\nvar fsWrites = msg.payload[0].fswrites;\nvar fsReads = msg.payload[0].fsreads;\n\nmsg.payload = {\n    cpu: cpu,\n    memory: memory,\n    networkReceived: networkReceived,\n    networkTransmitted: networkTransmitted,\n    fsWrites: fsWrites,\n    fsReads: fsReads\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "e70be03bdcf39538",
                "1962b71e212d975d"
            ]
        ]
    },
    {
        "id": "e70be03bdcf39538",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "1962b71e212d975d",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Convert low to 1 and high to 2",
        "func": "var data = [\n    { label: 'cpu', value: msg.payload.cpu === 'low' ? 1 : 2 },\n    { label: 'memory', value: msg.payload.memory === 'low' ? 1 : 2 },\n    { label: 'networkReceived', value: msg.payload.networkReceived === 'low' ? 1 : 2 },\n    { label: 'networkTransmitted', value: msg.payload.networkTransmitted === 'low' ? 1 : 2 },\n    { label: 'fsWrites', value: msg.payload.fsWrites === 'low' ? 1 : 2 },\n    { label: 'fsReads', value: msg.payload.fsReads === 'low' ? 1 : 2 }\n];\n\nmsg.payload = {\n    'cpu': data[0].value,\n    'memory': data[1].value,\n    'networkReceived': data[2].value,\n    'networkTransmitted': data[3].value,\n    'fsWrites': data[4].value,\n    'fsReads': data[5].value\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "5f84a0bec16c5bc7",
                "729bc777f4c8bc42"
            ]
        ]
    },
    {
        "id": "5f84a0bec16c5bc7",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "3485790c3e9fbdc7",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 139.8958282470703,
        "y": 924.8888549804688,
        "wires": [
            [
                "3c65fb109b799176"
            ]
        ]
    },
    {
        "id": "3c65fb109b799176",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/prometheus-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 319.8958282470703,
        "y": 924.8888549804688,
        "wires": [
            [
                "55f8f677ce35d923"
            ]
        ]
    },
    {
        "id": "55f8f677ce35d923",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 860,
        "wires": []
    },
    {
        "id": "b02f8cff8e770c31",
        "type": "ui_group",
        "name": "ID Selection",
        "tab": "d315769c5ea188b3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cad8e5064af894d",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "c1fc8b045485cd49",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d315769c5ea188b3",
        "type": "ui_tab",
        "name": "LoadGen Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c1fc8b045485cd49",
        "type": "ui_tab",
        "name": "Profile-Data Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]