Hackathon 2023/profile-data-flow.json
[
    {
        "id": "139be3927a5a98ed",
        "type": "tab",
        "label": "Hackathon Visualization of Performance Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6c37b83428f9da1",
        "type": "inject",
        "z": "139be3927a5a98ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "99a25f43290c34a9"
            ]
        ]
    },
    {
        "id": "99a25f43290c34a9",
        "type": "http request",
        "z": "139be3927a5a98ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/profile-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ad2d11dc1d74d011",
                "b307f578fe1f70df"
            ]
        ]
    },
    {
        "id": "ad2d11dc1d74d011",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "729bc777f4c8bc42",
        "type": "ui_chart",
        "z": "139be3927a5a98ed",
        "name": "",
        "group": "0cad8e5064af894d",
        "order": 1,
        "width": "9",
        "height": "6",
        "label": "Profile Data Visualization",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b307f578fe1f70df",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Extract data & convert low: 1, high: 2",
        "func": "var data = msg.payload;\nvar cpu = data[0].cpu === 'low' ? 1 : 2;\nvar memory = data[0].memory === 'low' ? 1 : 2;\nvar networkReceived = data[0].networkreceived === 'low' ? 1 : 2;\nvar networkTransmitted = data[0].networktransmitted === 'low' ? 1 : 2;\nvar fsWrites = data[0].fswrites === 'low' ? 1 : 2;\nvar fsReads = data[0].fsreads === 'low' ? 1 : 2;\n\nmsg.newdata = {\n    \"CPU\": cpu,\n    \"Memory\": memory,\n    \"Network Received\": networkReceived,\n    \"Network Transmitted\": networkTransmitted,\n    \"fs Writes\": fsWrites,\n    \"fs Reads\": fsReads\n};\nmsg.profile = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "e70be03bdcf39538",
                "1962b71e212d975d"
            ]
        ]
    },
    {
        "id": "e70be03bdcf39538",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "1962b71e212d975d",
        "type": "function",
        "z": "139be3927a5a98ed",
        "name": "Create bar chart data",
        "func": "var labels = [];\nvar data = [];\n\nlabels = Object.keys(msg.newdata);\ndata = Object.values(msg.newdata);\n\nmsg.payload = [{\n    \"series\": [\"\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "5f84a0bec16c5bc7",
                "729bc777f4c8bc42",
                "86b7befe50a69837"
            ]
        ]
    },
    {
        "id": "5f84a0bec16c5bc7",
        "type": "debug",
        "z": "139be3927a5a98ed",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "86b7befe50a69837",
        "type": "ui_template",
        "z": "139be3927a5a98ed",
        "group": "aac210c709ba7797",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<p><b>Action</b>: {{msg.profile.actionname}}</p>\n<p><b>Branch Name</b>: {{msg.profile.branchname}}</p>\n<p><b>Flow</b>: {{msg.profile.flow}}</p>\n<p><b>Location</b>: {{msg.profile.location}}</p>\n<br>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c297573df9e25c37",
        "type": "comment",
        "z": "139be3927a5a98ed",
        "name": "PROFILE-DATA-FLOW",
        "info": "",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "0cad8e5064af894d",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "c1fc8b045485cd49",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aac210c709ba7797",
        "type": "ui_group",
        "name": "Profile Info",
        "tab": "c1fc8b045485cd49",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1fc8b045485cd49",
        "type": "ui_tab",
        "name": "Profile-Data Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]