Hackathon 2023/prometheus-data-flow.json
[
    {
        "id": "cc537f46a5874e0b",
        "type": "tab",
        "label": "Hackathon Visualization of Performance Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef012fa417a0ca14",
        "type": "inject",
        "z": "cc537f46a5874e0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "914f8a64fe106b93"
            ]
        ]
    },
    {
        "id": "914f8a64fe106b93",
        "type": "http request",
        "z": "cc537f46a5874e0b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/gkousiouris/2ndPHYSICSHackathon/main/dataFilesForVisualization/prometheus-data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "f68cafb7e7c62475",
                "02a247ae527544a1"
            ]
        ]
    },
    {
        "id": "f68cafb7e7c62475",
        "type": "debug",
        "z": "cc537f46a5874e0b",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "05c9fc8e17608206",
        "type": "comment",
        "z": "cc537f46a5874e0b",
        "name": "PROMETHEUS",
        "info": "",
        "x": 160.1041717529297,
        "y": 175.11114501953125,
        "wires": []
    },
    {
        "id": "eff0e2bddedacfc4",
        "type": "ui_template",
        "z": "cc537f46a5874e0b",
        "group": "393b4bf3dd81dd9a",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p><b>Activation id</b>: {{msg.selected.activationid}}</p>\n<p><b>Test Function Payload</b>: {{msg.selected.testFunctionPayload}}</p>\n<p><b>Action Name</b>: {{msg.selected.actionname}}</p>\n<p><b>Owendpoint</b>: {{msg.selected.owendpoint}}</p>\n<p><b>Branchname</b>: {{msg.selected.branchname}}</p>\n<p><b>Flow</b>: {{msg.selected.flow}}</p>\n<br>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2d8e356f4f78c823",
        "type": "ui_chart",
        "z": "cc537f46a5874e0b",
        "name": "",
        "group": "393b4bf3dd81dd9a",
        "order": 2,
        "width": "6",
        "height": "12",
        "label": "Prometheus Data Visualization",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c0e9e2bff6d3f8d7",
        "type": "function",
        "z": "cc537f46a5874e0b",
        "name": "Create bar chart data",
        "func": "var indata = msg.selected;\nmsg.payload = [];\nmsg.profile = [];\n\nvar labels = [];\nvar data = [];\n\nmsg.newdata = []; // Initialize newdata as an empty array\n\n\nvar cpu = indata.cpu;\nvar memory = indata.memory;\nvar networkReceived = indata.networkReceived;\nvar networkTransmitted = indata.networkTransmitted;\nvar fsWrites = indata.fsWrites;\nvar fsReads = indata.fsReads;\n\nmsg.newdata = {\n    \"CPU\": cpu,\n    \"Memory\": memory,\n    \"NetworkReceived\": networkReceived,\n    \"NetworkTransmitted\": networkTransmitted,\n    \"fsWrites\": fsWrites,\n    \"fsReads\": fsReads\n};\n\nmsg.payload = msg.newdata;\n\nlabels = Object.keys(msg.newdata);\ndata = Object.values(msg.newdata);\n\nmsg.payload = [{\n    \"series\": [\"\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 220,
        "wires": [
            [
                "2d8e356f4f78c823"
            ]
        ]
    },
    {
        "id": "3305b7e1ad0995f3",
        "type": "ui_dropdown",
        "z": "cc537f46a5874e0b",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "393b4bf3dd81dd9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Memory",
                "value": "Memory",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            [
                "1466d570418e3079"
            ]
        ]
    },
    {
        "id": "02a247ae527544a1",
        "type": "function",
        "z": "cc537f46a5874e0b",
        "name": "Extract activationid for dropdown",
        "func": "global.set(\"Info\", msg.payload);\n\nvar data = msg.payload;\nvar options = [];\n\nmsg.newdata = []; // Initialize newdata as an empty array\n\nfor (var i = 0; i < data.length; i++) {\n    var activationid = data[i].activationid;\n\n    options.push(activationid);\n}\nmsg.options = options;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "3305b7e1ad0995f3"
            ]
        ]
    },
    {
        "id": "1466d570418e3079",
        "type": "function",
        "z": "cc537f46a5874e0b",
        "name": "Selected Data",
        "func": "var info = global.get(\"Info\");\nvar selected;\n\nfor(var data of info) {\n    if( data.activationid === msg.payload) {\n        selected = data;\n    }\n}\n\nmsg.selected = selected; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "d7c02f77f8907c95",
                "eff0e2bddedacfc4",
                "c0e9e2bff6d3f8d7"
            ]
        ]
    },
    {
        "id": "d7c02f77f8907c95",
        "type": "debug",
        "z": "cc537f46a5874e0b",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "selected",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "393b4bf3dd81dd9a",
        "type": "ui_group",
        "name": "Prometheus Visualization",
        "tab": "f1188de2ec5bc89b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1188de2ec5bc89b",
        "type": "ui_tab",
        "name": "Prometheus Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]